html {
    font-size: 100%;
  }
  body {
    font-family: "Lato", sans-serif;
    background-color: #dcdde1;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container img{
    width: 100px;
    height: 100px;
    margin: 0px 20px;
  }
  header {
    width: 100%;
    height: 15vh;
    border: 2px solid black;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-around;
    background-color: #f6f6f6;
  }
  .navbar-items li a{
    margin: 10px 0px;
  }
  .hambergur-menu {
    margin: 2rem;
    font-size: 1.5rem;
    color: #00a8ff;
    cursor: pointer;
  }
  .navbar {
    display: none;
  }


  .box {
    width: 140px;
    height: 60px;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  @media screen and (min-width: 768px) {
    header {
      width: 80%;
      margin: 40px 120px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .hambergur-menu {
      display: none;
    }
    .sidebar {
      display: none;
    }
    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f6f6f6;
      width: 100%;
      /* height: 60px; */
    }
    .navbar-items {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-weight: 700;
      font-size: 1.1rem;
      list-style: none;
    }
    .navbar-items li {
      position: relative;
    }
    .navbar-items a {
      text-decoration: none;
      color: #353b48;
    }
    .navbar-items li:after {
      content: "";
      position: absolute;
      left: 0;
      top: 1.7rem;
      width: 0;
      height: 3px;
      background-color: #00a8ff;
      border-radius: 40px;
      transition: 0.5s all;
    }
    .navbar-items li:hover:after {
      width: 100%;
    }
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #f5f6fa;
    padding: 1rem;
    list-style: none;
    font-weight: 700;
    transition: 0.5s all;
    transform: translate(-100%);
  }
  
  .sidebar .close-btn {
    position: absolute;
    right: 1rem;
    font-weight: 900;
    font-size: 1.8rem;
    color: #bd1616;
    border-radius: 100%;
    cursor: pointer;
    transition: 1s all ease-out;
  }
  
  .close-btn:hover {
    transform: rotate(360deg);
  }
  
  .sidebar-items {
    position: absolute;
    top: 6rem;
    list-style: none;
    font-size: 1.2rem;
  }
  .sidebar-items li {
    padding-bottom: 2rem;
    position: relative;
    transition: 0.5s all;
  }
  
  .sidebar-items li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.7rem;
    width: 0;
    height: 3px;
    background-color: #00a8ff;
    border-radius: 40px;
    transition: 0.5s all;
  }
  .sidebar-items li:hover::after {
    width: 100%;
  }
  
  .sidebar-items a {
    text-decoration: none;
    color: #353b48;
  }
  .sidebar-footer {
    position: fixed;
    bottom: 0;
    left: 2.5rem;
    padding-bottom: 1rem;
  }
  .sidebar-footer ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar-footer li {
    padding-left: 1rem;
    font-size: 1.2rem;
  }
  .sidebar li {
    list-style: none;
  }
  
  .sidebar-footer a {
    text-decoration: none;
    color: #00a8ff;
  }
  
  .show-side {
    transform: translate(0);
  }